.drop-file-input {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed #007bff; /* Bleu vif */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f8f9fa, #e9ecef); /* Dégradé clair */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
  transition: all 0.3s ease;
}

.drop-file-input:hover {
  background: linear-gradient(to right, #e9ecef, #dee2e6); /* Effet au survol */
  transform: scale(1.02); /* Zoom léger */
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input__label {
  text-align: center;
  color: #495057; /* Gris foncé */
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacement entre l'icône et le texte */
}

.drop-file-input__label svg {
  width: 50px;
  height: 50px;
  color: var(--green);
  animation: bounce 1.8s infinite; /* Animation pour attirer l'attention */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.drop-file-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.drop-file-preview__item__top {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
}

.drop-file-preview__item {
  display: flex;
  gap: 10px;
  align-items: start;
}

.drop-file-preview__item img {
  max-width: 100px;
  border-radius: 8px;
  margin-bottom: 6px;
}

.drop-file-preview__item__del {
  color: black;
  cursor: pointer;
  font-size: 16px;
}

.drop-file-preview__item__del:hover {
  color: gray;
}
